# Configuración de variables de entorno
# Copia este archivo a .env.local para desarrollo local

# URL base de la API
NEXT_PUBLIC_API_URL=https://api-register-bk.episundc.pe/api

# Configuración del entorno
NODE_ENV=production

# Puerto de la aplicación
PORT=3000
